* {
    color:#EDC7B7;
    /* rgb(237,199,183) */
    color:#EEE2DC;
    /* rgb(238,226,220) */
    color:#BAB2B5;
    /* rgb(186,178,181) */
    color:#123c69;
    /* rgb(18,60,105) */
    color:#ac3b61;
    /* rgb(172,59,97) */
}